h1= title
p Welcome to #{title}
#display
.another
  p
    input(type='text', id='chatter', name='chatter')
#controls
  a(href='javscript:void(0)', id='change_1') Change 1
  p
    label Color for block 1
    input(type='text', id='color_1', name='color_1')