h1= title
p Welcome to #{title}
#display
.another
  p
    input(type='text', id='chatter', name='chatter')
#controls
  a(href='javscript:void(0)', id='change_1') Change 1
  p
    label Color for block 1
    input(type='text', id='color_1', name='color_1')
  #pad_1(style='float:left;margin:0 10px 0 0;width:90px;height:90px;background:black')
  #pad_2(style='float:left;margin:0 10px 0 0;width:90px;height:90px;background:black')
  #pad_3(style='float:left;margin:0 10px 0 0;width:90px;height:90px;background:black')