#display
.another
  p
    input(type='text', id='chatter', name='chatter')
#controls
  p
    label Color for blocks
    input(type='text', id='color', name='color')
  #pad_1(class='pads', title='1')
  #pad_2(class='pads', title='2')
  #pad_3(class='pads', title='3')
  #pad_4(class='pads', title='4')
  #pad_5(class='pads', title='5')
  #pad_6(class='pads', title='6')
  #pad_7(class='pads', title='7')
  #pad_8(class='pads', title='8')
  #pad_9(class='pads', title='9')
  #pad_10(class='pads', title='10')
  #pad_11(class='pads', title='11')
  #pad_12(class='pads', title='12')
  
  #pad_13(class='pads', title='13')
  #pad_14(class='pads', title='14')
  #pad_15(class='pads', title='15')
  #pad_16(class='pads', title='16')
  #pad_17(class='pads', title='17')
  #pad_18(class='pads', title='18')
  #pad_19(class='pads', title='19')
  #pad_20(class='pads', title='20')
  #pad_21(class='pads', title='21')
  #pad_22(class='pads', title='22')
  #pad_23(class='pads', title='23')
  #pad_24(class='pads', title='24')
  
  #pad_25(class='pads', title='25')
  #pad_26(class='pads', title='26')
  #pad_27(class='pads', title='27')
  #pad_28(class='pads', title='28')
  #pad_29(class='pads', title='29')
  #pad_30(class='pads', title='30')
  #pad_31(class='pads', title='31')
  #pad_32(class='pads', title='32')
  #pad_33(class='pads', title='33')
  #pad_34(class='pads', title='34')
  #pad_35(class='pads', title='35')
  #pad_36(class='pads', title='36')
  
  #pad_37(class='pads', title='37')
  #pad_38(class='pads', title='38')
  #pad_39(class='pads', title='39')
  #pad_40(class='pads', title='40')
  #pad_41(class='pads', title='41')
  #pad_42(class='pads', title='42')
  #pad_43(class='pads', title='43')
  #pad_44(class='pads', title='44')
  #pad_45(class='pads', title='45')
  #pad_46(class='pads', title='46')
  #pad_47(class='pads', title='47')
  #pad_48(class='pads', title='48')
  #pad_49(class='pads', title='49')
  #pad_50(class='pads', title='50')
  
  #pad_51(class='pads', title='51')
  #pad_52(class='pads', title='52')
  #pad_53(class='pads', title='53')
  #pad_54(class='pads', title='54')
  #pad_55(class='pads', title='55')
  #pad_56(class='pads', title='56')
  #pad_57(class='pads', title='57')
  #pad_58(class='pads', title='58')
  #pad_59(class='pads', title='59')
  #pad_60(class='pads', title='60')
  #pad_61(class='pads', title='61')
  #pad_62(class='pads', title='62')
  #pad_63(class='pads', title='63')
  #pad_64(class='pads', title='64')
  #pad_65(class='pads', title='65')
  #pad_66(class='pads', title='66')
  #pad_67(class='pads', title='67')
  #pad_68(class='pads', title='68')
  #pad_69(class='pads', title='69')
  #pad_70(class='pads', title='70')
  #pad_71(class='pads', title='71')
  #pad_72(class='pads', title='72')
  #pad_73(class='pads', title='73')
  #pad_74(class='pads', title='74')
  #pad_75(class='pads', title='75')
  
  #pad_76(class='pads', title='76')
  #pad_77(class='pads', title='77')
  #pad_78(class='pads', title='78')
  #pad_79(class='pads', title='79')
  #pad_80(class='pads', title='80')
  #pad_81(class='pads', title='81')
  #pad_82(class='pads', title='82')
  #pad_83(class='pads', title='83')
  #pad_84(class='pads', title='84')
  #pad_85(class='pads', title='85')
  #pad_86(class='pads', title='86')
  #pad_87(class='pads', title='87')
  #pad_88(class='pads', title='88')
  
  #pad_89(class='pads', title='89')
  #pad_90(class='pads', title='90')
  #pad_91(class='pads', title='91')
  #pad_92(class='pads', title='92')
  #pad_93(class='pads', title='93')
  #pad_94(class='pads', title='94')
  #pad_95(class='pads', title='95')
  #pad_96(class='pads', title='96')
  #pad_97(class='pads', title='97')
